/* Header Component  */
#div1{
text-align: center;
background-color: lawngreen;
font-size: 26px;
color:blue;
padding:15px;
border-bottom-right-radius: 35px;
border-bottom-left-radius: 35px;

}

#div2{
    background-color:yellow;
    text-align: center;
    text-decoration: none;
}


.links{
    display: inline-block;
    margin-right: 100px;
    
}


/* Content Component */
.display{
    display: none;
}

.selectWidth{
    width: 30%;
    min-width: 200px;
    margin: auto;
}


.headings{
    /* text-align: center; */
    /* border: 1px dotted black; */
    border-radius: 12px;
    font-size: 20px;
    /* width: 40%; */
    /* margin-left: auto;
    margin-right: auto; */
    /* background-color: darkgray; */
    color:blue;

}



.bottomLine{
    text-align: center;
background-color:lemonchiffon;
/* font-size: 36px; */
color:blue;
padding:15px;
border-top-right-radius: 35px;
border-top-left-radius: 35px;
}


.trialPositiveAmt{
    color:green;
    
}

.trialNegativeAmt{
    color:red;
}

.ldgrPostveAmt{
    color:green;
}

.ldgrNegtveAmt{
    color:red;
}

.closingBalPostiv{
color:green;

}

.closingBalNegatve{
color:red;

}


tr:hover{
    background-color:lightgrey;
    
    
}

.btnControl{
    max-width: 80px;
    background-color: lightgreen;
    border-radius: 5px;
    margin-right: 5px;
}

.material-icons{
    color:grey
}

.profile-image{
    border-radius: 100%;
}



#printButton{
    cursor: pointer;
    position: fixed;
    left: 0px;
    bottom: 35px;
    border: 1px dotted red;
    padding: 4px;
    border-radius: 3px;
    background-color: lightgray;

}

td{
    padding: 3px !important;
    
}


div{
    box-sizing: border-box;
}


.personalInfoSpan{
    display: inline-block;
    width: 49%;
    padding-left: 11px;
}



.listItemOfOnlineDocs{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border: 1px dotted green;
    border-radius: 5px;
    background-color: antiquewhite;
}

